{
    "extends": [
        "react-app",
        "plugin:perfectionist/recommended-line-length"
    ],
    "plugins": [
        "perfectionist"
    ],
    "rules": {
        "perfectionist/sort-objects": [
            "error",
            {
                "type": "line-length",
                "order": "desc"
            }
        ],
        "react/jsx-curly-brace-presence": ["error", { "props": "never", "children": "never" }]
    }
}
